<table id="lists" class="display" data-source="<%= lists_url(format: "json") %>">
 <thead>
  <tr>
    <th>Met</th>
    <th>Name</th>
    <th>Value</th>
    <th>Bids</th>
    <th>Image</th>
    <th>End Data</th>
    <th>Seller</th>
    <th>Rating</th>
  </tr>
 </thead>
</table>

<div class="panel">
  <%= render 'form' %>
</div>
<a class="trigger" href="#">Filter</a>
<%#= params.inspect %>